Assignment 16

In [ ]:
"""
(1)Create a list called years_list, starting with the year of your birth, and each year thereafter until
the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].

(2)In which year in years_list was your third birthday? Remember, you were 0 years of age for your
first year.

(3)In the years list, which year were you the oldest?

"""

In [ ]:
#(1)
years_list = [1997,1998,1999,2000,2001]
years_list

In [ ]:
#(2)
years_list[2]

In [ ]:
#(3)
years_list[-1]

In [ ]:
"""
(4)Make a list called things with these three strings as elements: 'mozzarella','cinderella','salmonella'

(5)Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?
"""

In [ ]:
#(4)
things=['mozzarella','cinderella','salmonella']
things

In [ ]:
#(5)
things[1].title()
"""
No it does not change the elements in the list 

"""

In [ ]:
"""
(6)Make a surprise list with the elements "Groucho" "Chico" and "Harpo."

(7)Lowercase the last element of the surprise list, reverse it, and then capitalize it.

"""

In [1]:
#(6)
surprise_list = ["Groucho" ,"Chico","Harpo."]
surprise_list

['Groucho', 'Chico', 'Harpo.']

In [3]:
#(7)
#lowercase last element
surprise_list[-1].lower()

'harpo.'

In [6]:
#(7)
#Reverse
surprise_list.reverse()
surprise_list

['Harpo.', 'Chico', 'Groucho']

In [7]:
#(7)
#Capitalize
"""
surprise_list = ['Groucho' ,'Chico','Harpo.']
surprise

"""
surprise_cap =[i.upper() for i in surprise_list]
print(surprise_cap)

['HARPO.', 'CHICO', 'GROUCHO']

In [ ]:
"""
(8) Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
chien, cat is chat, and walrus is morse.

(9) Write the French word for walrus in your three-word dictionary e2f.

(10) Make a French-to-English dictionary called f2e from e2f. Use the items method.

(11) Print the English version of the French word chien using f2e.

(12) Make and print a set of English words from the keys in e2f.

"""

In [8]:
#(8)
e2f = {'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [9]:
#(9)
e2f['walrus']

'morse'

In [10]:
#(10)
f2e = {}
for eng , french in e2f.items() :
    f2e[french] = eng 
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [11]:
#(11)
f2e['chien']

'dog'

In [12]:
#(12)
set(e2f.keys())

{'cat', 'dog', 'walrus'}

In [ ]:
"""
(13) Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants',
and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and' emus'. Make the 'cats' key
refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

(14) Print the top-level keys of life.

(15) Print the keys for life['animals'].

(16) Print the values for life['animals']['cats']

"""

In [13]:
#(13)
life = {
    'animals' : {
        'cats' :{'Henri' , 'Grumpy' , 'Lucy'},
        'octopi' : {},
        'emus' : {}
            },
        'plants' : {},
        'other' : {}
}

life

{'animals': {'cats': {'Grumpy', 'Henri', 'Lucy'}, 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

In [14]:
#(14)
print(life.keys())

dict_keys(['animals', 'plants', 'other'])

In [15]:
#(15)
print(life['animals'].keys())

dict_keys(['cats', 'octopi', 'emus'])

In [16]:
#(16)
print(life['animals']['cats'])

{'Lucy', 'Grumpy', 'Henri'}