In [ ]:
"(1) Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as <WORKER_NAME>.

=>  select FIRST_NAME as WORKER_NAME from worker "

In [ ]:
"(2) Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

=> slect distinct DEPARTMENT from worker  "

In [3]:
"(3) Write an SQL query to show the last 5 record from a table

 => using the limit clause 

   select * from TABLE_NAME order by id desc limit 5
   
   using the count 
   
   select * from TABLE_NAME where COLUMN_NAME (slect count * from TABLE_NAME) - (number of rows to retrive (--5 in this case)) ; "