In [ ]:
"""
(1) Write an SQL query to show only odd rows from aÂ table.

=> SELECT * FROM EMPLOYEE  WHERE id IN(SELECT id FROM EMPLOYEE WHERE id%2 <> 0);

   -- for even rows of the table
   SELECT * FROM EMPLOYEE WHERE id IN(SELECT id FROM EMPLOYEE WHERE id%2 = 0);

"""

In [ ]:
"""
(2) Write an SQL query to clone a new table from another table.

=> CREATE TABLE employees_dummy SELECT * FROM employees;

"""