In [ ]:
"""
(1) Write an SQL query to determine the 5th highest salary without using TOP or limit method.

=> select min(SALARY) from (select distinct SALARY from EMPLOYEE order by SALARY desc) where rownum < n+1 ; 

                          
         for n=5 

   select min(SALARY) from (select distinct SALARY from EMPLOYEE order by SALARY desc) where rownum < 6 ;  

"""

In [ ]:
"""
(2) Write an SQL query to fetch the list of employees with the same salary.

=> select distinct E>EMPLOYEE_CODE , E>EMPLOYEE_NAME , E.SALARY from EMPLOYEE E , EMPLOYEE E1 where E>SALARY = E1.SALARY and E.EMPLOYEE_CODE != E1.EMPLOYEE_CODE order by SALARY ;

"""