In [ ]:
"""
(1) Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’ with ‘A’.

=>  select replace(FIRST_NAME , "a", "A") from WORKER ;

"""

In [ ]:
"""
(2) Write an SQL query to print all Worker details from the Worker table order by FIRST_NAME Ascending and DEPARTMENT Descending.

=> select * from WORKER order by FIRST_NAME asc, DEPARTMENT desc;

"""

In [ ]:
"""
(3) Write an SQL query to fetch the names of workers who earn the highest salary.

=>  select WORKER_NAME from WORKER where SALARY in (select max(SALARY) from WORKER) ;

"""