In [ ]:
"""
(1) Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

=>    select * from WORKER where year(JOINING_DATE) = 2014 and month(JOINING_DATE) = 2 ;

"""

In [ ]:
"""
(2) Write an SQL query to fetch duplicate records having matching data in some fields of a table.

=> SELECT WORKER_TITLE, AFFECTED_FROM, COUNT(*) FROM Title GROUP BY WORKER_TITLE, AFFECTED_FROM HAVING COUNT(*) > 1;

"""

In [ ]:
"""
(3) How to remove duplicate rows from Employees table.

=> delete from (select * from , row_number() over (partitation  by EMP_ID order by EMP_ID ) as rn from EMPLOYEES ) where rn> 1;

"""