In [ ]:
"""
(1) Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

=>  select rtrim(FIRST_NAME) from WORKER ;

"""

In [ ]:
"""
(2)Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

=>  select distinct(DEPARTMENT) , len(DEPARTMENT) as Length_Of_Department from WORKER ;

"""

In [ ]:
"""
(3) Write an SQL query to fetch nth max salaries from a table.

=>  select min(SALARY) from (select distinct SALARY from EMPLOYEE order by SALARY desc) where rownum < n+1 ; 

                             EMPLOYEE
                        NAME          SALARY 
                        ATUL          20000  
                        BUSHAN        30000
                        SUNNY         40000
                        RAJU          37000
                        RAJ           32000 
                        
                         
"""