In [ ]:
"""
(1) Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

=> select substring(FIRST_NAME,1,3) from WORKER ;  

"""

In [ ]:
"""
(2) Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

=>  select position("A" IN FIRST_NAME) from WORKER where FIRST_NAME = "Amitabh";
   
    select instr(FIRST_NAME, "A") from WORKER where FIRST_NAME = "Amitabh";  

"""

In [ ]:
"""
(3) Write an SQL query to print the name of employees having the highest salary in each department.

=> select DEPARTMENT , max(SALARY) from EMPLOYEES group by DEPARTMENT

"""